@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@300&display=swap');

body {
    background-color: rgb(160, 152, 152);
    background: url('../images/human.jpg') no-repeat center top;
    background-size: cover;
    height: 50%;
    padding: 0%;
}

.answer-prefix {
    font-family: Montserrat, Work Sans, sans-serif;
    padding: 0px;
    height: 45%;
    width:70%;
    font-weight: bold;
    margin: 5px;

}

.answer-text {
    font-family: Montserrat, Work Sans, sans-serif;
    padding: 0px;
    width: 80%;
    font-weight: bold;  
    margin-bottom: 20%;
}


h1 {
    font-family: Montserrat, Work Sans, sans-serif;
    text-align: center;
    font-size: 250%;
    font-weight: 700;
}

h2 {
    text-align: center;
    font-weight: 600;
}

#game-area {
    height: 500px;
    width: 70%;
    background-color: rgb(236, 206, 211);
    margin: 0 auto;
    border-radius: 10px 10px;
    box-shadow: 0 0 7px;
    opacity: 0.8;
}

.total-score {
   float: right;
}

.scores, .total-score{
    display: inline-block; 
    margin: 8px 25px; 
}

.score-area {
    width: 80%;
    font-size: 1.6rem;  
}

#correct {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.question-box {
    height: 80px;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-family: Montserrat, Work Sans, sans-serif;
    font-weight: 300;
    font-size: 175%;
}

#question {
    font-family: Montserrat, Work Sans, sans-serif;
    font-weight: bold;
    font-size: 175%;
}

#answer-box {
    height: 120px;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
}

.answer-button {
    font-family: Montserrat, Work Sans, sans-serif;
    font-size: 100%;
    font-weight: bold;
    height:50%;
    width: 80%;
    margin: 0.5%;
    border: 0.5px solid rgb(143, 137, 137);
    border-radius: 10px 10px;
    display: inline-block;
}


.answer-button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 0.4rem;
}

 
.correct {
    background: linear-gradient(32deg, green);
}

.incorrect {
    background: linear-gradient(32deg, red);
}

#quiz-navigation {
    font-family: Montserrat, Work Sans, sans-serif;
    text-align: center;
    margin-right: 2%;
    margin-top: 14%;
}

.btn {
    border: 10px;
    border-radius: 50%;
    height: 50px;
    font-size: 16px;
    margin: 60px;
}


.btn-restart{
     background-color: rgb(233, 233, 145); 
}

.btn-next {
    background-color: rgb(225, 178, 107);
}


.btn-start {
    background-color :rgb(135, 104, 38);
    height: 150px;
    width: 350px;
    font-size: 40px;
    text-decoration: none;
    border-radius: 10px;
    
}
    
#texted {
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(199, 117, 76);
    cursor: pointer;
    box-shadow: 0.04rem 0.2rem;
    
}

@media screen and (max-width: 668px) {
    #total-score {
        float: right;
     }
   
    .scores, #total-score {
        display: inline-block; 
        margin: 12px 18px;
        
    }
    
    .score-area {
        width: 90%;
        font-size: 1rem;
        
        
    }
    
    #question-box {
        height: 100px;
        width: 90%;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }


    #question {
        font-family: Montserrat, Work Sans, sans-serif;
        font-weight: bold;
        font-size: 100%;
    }

    #quiz-navigation {
        font-family: Montserrat, Work Sans, sans-serif;
        text-align: center;
        margin-right: 2%;
        margin-top: 45%;
    }

    .btn {
        border: 5px;
        border-radius: 50%;
        height: 35px;
        font-weight: bold;
        margin: 8px;
    }   

    .btn-start {
        background-color :rgb(135, 104, 38);
        height: 100px;
        width: 250px;
        font-size: 40px;
        text-decoration: none;
        border-radius: 10px;
        
    }
    
}